<h2 style="font-weight: 200;font-size:45px;line-height: 48px;">Select report venue:</h2>
<div style="height:330px;">
    <!-- AIV -->
    <button id="AIV" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" style="width:100%" onclick="window.parent.postMessage('openAIV', '*');">
        Administrator intervention against vandalism
    </button>
    <!-- Tooltip -->
    <div class="mdl-tooltip mdl-tooltip--large" for="AIV">
        For reports about active, obvious, and persistent vandals and spammers
    </div>
    <br/>
    <!-- UAA -->
    <button id="UAA" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" style="width:100%" onclick="window.parent.postMessage('openUAA', '*');">
        Usernames for administrator attention
    </button>
    <!-- Tooltip -->
    <div class="mdl-tooltip mdl-tooltip--large" for="UAA">
        Reports of usernames that are blatant and serious violations of the username policy requiring an immediate block.
    </div>
    <br/>
</div>

<span style="font-size: small;font-style: italic;">More report methods are currently in development. If you can't find a report venue that fits your situation (i.e. SPIs, edit warring, ext.), please continue to use Twinkle.</span>
<br/>
<span style="float:right;">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.parent.postMessage('closeDialog', '*');">
        CANCEL
    </button>
</span>