<!-- Style for title preview -->
<style>
    h2 {
        font-size: 20px;
        line-height: 0px;
    }
    .mw-editsection {
        display: none;
    }
</style>
<h2 style="font-weight: 200;font-size:45px;line-height: 48px;">`+selectedPack.name+`</h2>
<h5>`+selectedTemplate.title+`</h5>
<i>`+ selectedTemplate.about +`</i>
<div style="height: 340px;overflow:auto;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
        <input class="mdl-textfield__input" type="text" id="trgtUsrVisualBox" value="`+ rw.info.targetUsername(un) +`" readonly>
        <label class="mdl-textfield__label" for="trgtUsrVisualBox">Target</label>
        <div class="mdl-tooltip" for="trgtUsrVisualBox">
            To target a different user, please visit their userpage.
        </div>
    </div>
    <!-- Custom inputs here -->
    ${finalAdditionalInputs}

    <!-- Finally, preview -->
    <span id="previewContainer">
        <!-- EDIT BUTTON -->
    
        <span id="editBtn" class="material-icons" style="font-size: 16px;padding-bottom: 3px;float: right;padding-right: 5px;cursor: pointer;" onclick="$('#previewContainer').hide();$('#editorContainer').show();">
            create
        </span>
    
        <div id="preview" style="height: 220px; overflow-y: auto; width:100%;"> <!-- do not use max-height as this moves the buttons and makes it hard for muscle memory-->
            
        </div> <!-- Used to show preview-->
    </span>
    
    <span id="editorContainer" style="display:none;">
        <span id="previewBtn" class="material-icons" style="font-size: 16px;padding-bottom: 3px;float: right;padding-right: 5px;cursor: pointer;" onclick="$('#previewContainer').show();$('#editorContainer').hide();grabPreview();">
            visibility
        </span>
        <div id="editor">
            <textarea id="wikiTxt" name="wikiTxt" style="height: 220px; max-height: 220px; overflow-y: auto; width:100%;">`+ contentStr +`</textarea>
        </div> <!-- Used to edit Wikitext -->
    </span>
    </form>
</div>

<!-- CLOSE BUTTON -->
<span style="float:right;">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.parent.postMessage('closeDialog', '*');">
        CANCEL
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="handleSubmit();">
        SUBMIT
    </button>
</span>
<script>
    // Previews
    window.onmessage = function(e){
        if (e.data.action == 'parseWikiTxt') {
            $("#preview").html(e.data.result); // Set preview to content
        }
    };

    function pushToast(text) {window.parent.postMessage('pushToast\\\`' + text);} // Push toast to host

    function grabPreview() {
        let wikiTxt = document.getElementById("wikiTxt").value;
        window.parent.postMessage('generatePreview\\\`'+ wikiTxt, '*');
    }

    // Used to handle submit
    function handleSubmit() {
        let wikiTxt = document.getElementById("wikiTxt").value;
        window.parent.postMessage('qtDone\\\`' + btoa(wikiTxt)); // Push upstairs and commit
        window.parent.postMessage("closeDialog"); // We done here. Top will refresh or reshow if error occurs.
    }

    // Once loaded call load preview
    grabPreview();
    
    // Generate preview on change
    var previewTO;
    function refreshPreview() {
        clearTimeout(previewTO); // cancel TO
        let originalText = atob("`+ btoa(selectedTemplate.content) +`");
        // Now replace for each input
        
        $(".rwCustomTextInput").each((i, el)=>{
            console.log(originalText);
            console.log(atob($(el).attr("id")));
            originalText = originalText.replace(atob($(el).attr("id")), $(el).val()); // replace case with inputted text
        });

        // Now set the text input
        $("#wikiTxt").val(originalText);

        
        grabPreview(); // now load preview

    }

    // Add event handler for inputboxes
    $(".rwCustomTextInput").change(()=>refreshPreview());
    
</script>